<!DOCTYPE html>
<html>
    <head>
        <title>
            Yelp Camp
        </title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   </head>
    <body>
       <!-- navbar -->
<nav id="special" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
    <a href="#" class="navbar-brand">YelpCamp</a>
    </div>
    <!-- navbar colapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
    <!-- put everything in the class below to make that collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- left side bars -->
    <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link active" href="#">About</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#">Contact</a>
    </li>
                      <!-- dropdown menu -->
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
    </li>
    </ul>
    <!-- right side bars -->
    <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" href="#">Sign up</a></li>
    <li><a class="nav-link disabled" href="#" >Login</a></li>
                  <!-- search bar and button -->
     <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </ul>
    </div>
    </nav>
    <!-- navbar ends above -->